:root {
  --primary-color: whitesmoke;
        --secondary-color: #024e76;
        --tertiary-color: rgb(87, 182, 160);
        --fourth: rgb(208, 218, 238);
  --text-style: Open sans-serif;
}

#projects {
  justify-content:space-between;
max-width: 90%;
  margin: 0 auto;
}


.project {
  align-content: center;
  margin: 5px 0;
  padding: 5px;
  border: 5px;
 border-color: var(--secondary-color);
    text-align: center;
    position: relative;
    opacity: 0.5;
  }

  .project:hover {
    background-color: var(--secondary-color);
    opacity: 1;
  }

@media (min-width: 0px) {

      
      .project-name {
        font-size: 3rem;
      }
      
}

@media (min-width: 576px) {

    .project-title {
        font-size: 2.5rem;
      }
    
      .project-links {
        font-size: 2rem;
      }

      .project-prob {
        font-size: 2rem;
      }

      .project-tech {
        font-size: 2rem;
      }
     
      .project-name {
        font-size: 4rem;
      }

}

@media (min-width: 768px) {

    .project-title {
        font-size: 3rem;
      }
      
      .project-links {
        font-size: 2.5rem;
      }
      
      .project-prob {
        font-size: 2.5rem;
      }

      .project-tech {
        font-size: 2.5rem;
      }

      .project-name {
        font-size: 5rem;
      }

}


@media (min-width: 992px) {

    #projects {
        justify-content: space-between;
      }
    
      .project-title {
        font-size: 2rem;
      }
      
      .project-links {
        font-size: 1.5rem;
    }

    .project-prob {
      font-size: 1.5rem;
    }

    .project-tech {
      font-size: 1.5rem;
    }
      
      .project-name {
        font-size: 3rem;
      }

}

@media (min-width: 1200px) {

    .project-title {
        font-size: 2.25rem;
      }
      
      .project-links {
        font-size: 2rem;
      }

      .project-prob {
        font-size: 2rem;
      }

      .project-tech {
        font-size: 2rem;
      }
      
      .project-name {
        font-size: 4rem;
      }
        

}    